################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp4/.vs/ConsoleApp4/v15/Server/sqlite3
